.jumbotron{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-creative-flat-travel-tour-world-banner-image_170840.jpg);
}

.display-4{
    color: #ee5057;
}

.lead{
    color:black;
}

.lead2{
    color:black;
}